@page "/{id:int?}"
@model Naznean_LarisaGabriela_Proiect.Pages.Albums.IndexModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Albume</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<h1>ALBUME</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Singer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].PublishingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Record.RecordName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].AlbumCategories)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AlbumD.Albums)
        {
            string selectedRow = "";
            if (item.ID == Model.AlbumID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Singer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Record.RecordName)
                </td>
                <td>
                    @{
                        foreach (var category in item.AlbumCategories)
                        {
                            @category.Category.ID @: @category.Category.CategoryName <br />
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
